body {
  margin: 0;
}

#sale_topbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 0% 3% 2% 3%;
  font-size: 20px;
  position: sticky;
  top: 0;
  background-color: white;
}

#sale_topbar > div {
  display: flex;
}

#sale_head {
  transform: translateY(8px);
}

#sale_filter_sort {
  justify-content: space-between;
  width: 320px;
  height: 60px;
}
#filter_sec {
  display: flex;
  padding-top: 4px;
}

#filter_sec > img {
  width: 25px;
  height: 25px;
  transform: translate(5px, 23px);
  cursor: pointer;
}

#sort_by {
  transform: translate(10px, 6px);
}

#sort_arrow {
  width: 20px;
  height: 25px;
  transform: translateY(30px) rotate(90deg);
  cursor: pointer;
}

#sale_sorting_list {
  margin-left: 86%;
  position: absolute;
  top: 240px;
  font-size: 20px;
  height: 80px;
  transform: translateY(-20px);
  text-align: center;
}

#sale_sorting_list > h6 {
  line-height: 2px;
  cursor: pointer;
}

#sale_sorting_list + div {
  display: flex;
}

#sale_products {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(10, 450px);
  justify-content: space-around;
  grid-row-gap: 1%;
  margin: auto;
  margin-bottom: 10%;
}

#sale_products > div {
  box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
}
#image_box {
  height: 73%;
}

#image_box > img {
  width: 100%;
  height: 100%;
}

#content_box {
  line-height: 0;
  margin-left: 1%;
}

#content_box > p {
  line-height: 12px;
  color: grey;
}

#content_box > p:nth-child(3) {
  color: black;
}

#content_box > p:nth-child(3)::before {
  content: "₹";
}

@media screen and (min-width: 415px) and (max-width: 820px) {
  #sale_topbar {
    margin: 5% 5% 4% 4%;
  }

  #sort_arrow {
    width: 20px;
    height: 25px;
    transform: translateY(30px) rotate(90deg);
    cursor: pointer;
  }

  #sale_sorting_list {
    margin-left: 76%;
    transform: translateY(-18px);
    position: fixed;
    top: 115px;
  }

  #sale_products {
    width: 96%;
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: repeat(16, 450px);
  }

  #content_box {
    line-height: 0;
    margin-left: 1%;
  }

  #content_box > p {
    line-height: 12px;
    color: grey;
  }

  #content_box > p:nth-child(3) {
    color: black;
  }

  #filter_corner {
    font-size: 15px;
  }
}

@media screen and (max-width: 414px) {
  #sale_topbar {
    height: 50px;
    margin: 5% 4% 7% 4%;
    font-size: 15px;
  }

  #sale_filter_sort {
    width: 270px;
  }
  #filter_sec {
    display: flex;
    padding-top: 4px;
    border-radius: 20px;
    border: 1px solid rgb(185, 184, 184);
  }
  #filter_sec > img {
    width: 25px;
    height: 25px;
    transform: translate(5px, 15px);
    cursor: pointer;
  }

  #sort_arrow {
    transform: translate(-10px, 22px) rotate(90deg);
  }

  #sale_sorting_list {
    margin-left: 60%;
    position: absolute;
    font-size: 18px;
  }

  #sale_products {
    width: 96%;
    grid-template-columns: repeat(1, 90%);
    grid-template-rows: repeat(30, 350px);
    grid-row-gap: 20px;
  }

  #image_box {
    height: 50%;
  }

  #content_box {
    line-height: 0;
    margin-left: 0%;
  }

  #content_box > h5 {
    font-size: 14px;
    height: 22px;
    flex-wrap: wrap;
    padding-top: 10%;
  }

  #content_box > p {
    line-height: 12px;
    color: grey;
  }

  #content_box > p:nth-child(3) {
    color: black;
  }

  #filter_corner {
    font-size: 15px;
  }
}
